html {
  margin: 0;
  padding: 0;
  #app {
    height: 100%;
  }
}

.bg--image {
  background-image: url(../../../public/images/icon-logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
  position: fixed;
  filter: blur(40px);
  opacity: 0.6;
  left: 0;
  right: 0;
  z-index: -9999;
  display: block;
  height: 100%;
}

.container--login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

div {
  .streambed--logo--main {
    padding: 2em;
    width: 45vh;
  }
}

.container {
  .header--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #81e8bd;
    .streambed-logo {
      padding: 0 0 0 1em;
      width: 20vh;
    }
    .toggle-publish-analytics {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 10px;
      //This is for reset button
      .reset--pw {
        background-color: #939598;
        border: none;
        border-radius: 0.25rem;
        margin: 0.2em 0.8em 0 0;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-size: 0.9rem;

        padding: 3px 2px;
        text-decoration: none;
      }
    }
  }
}

/************************************Media Queries**********************************************/

/* phones */
@media screen and (max-width: 800px) {
  div {
    .streambed--logo--main {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  }
}
