/**Took out scss, back to being imported from normal files**/

.bg-dark {
  display: none;
}

.upload, .ui.search.dropdown, .content-container, .youtube-data {
  -webkit-box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
  box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
}

.ui.search.dropdown {
  width: 200px;
}

.container-upload{
  padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.displayOption {
  color: rgba(0,0,0,.5);
}

.default.text {
  color: rgba(0,0,0,.5) !important;
}

.upload, .youtube-data {
  border-radius: 8px;
  background: #fff;
  padding: 25px;
  margin-top: 25px;
}

.upload-youtube {
  padding-top: 50px;
}

.ui.menu .item {
  padding: 0 !important;
  font-size: 17px;
}

.link-wrapper {
  display: flex;
  justify-content: center;
  border-radius: 8px;
}

.ui.menu {
  background: #32AB39 !important;
  border-radius: 10px !important;
  width: 165px;
  justify-content: center;
  margin: 5px 0 !important;
}

#description, #title {
  border-radius: 0;
  border-bottom: 1px solid #8080805e !important;
  border-top: none;
  border-right: none;
  border-left: none;
}

.field:nth-of-type(3) {
  position: relative;
  height: 40px;
  margin-top: 25px !important;
}

input[type="file"] {
  border: none !important;
  width: 320px !important;
  padding: 3px 0 !important;
  position: absolute;
  left: 26px;
  cursor: pointer;
}

.upload .ui.form {
  overflow: hidden;
  transition: all .5s ease-out;
  height: 280px;
}

.file-upload {
  position: absolute;
  pointer-events: none;
  display: inline-block;
  padding: 6px 12px;
  border: none !important;
}

.fas.fa-upload {
  padding: 0 5px;
}

.hiddenLabel {
  position: absolute;
  pointer-events: none;
  width: 120px;
  background: #ece5d7;
  border-radius: 5px;
  text-align: center;
  padding: 5px 0;
}

.dropdown-menu {
  padding: 0px;
  overflow: hidden;
}

.form-group.fileSelect {
  display: flex;
  flex-direction: column;
}

.show {
  height: 0px;
  transition: height 0.6s ease-out;
}

.video-element {
  margin: 20px 0 0 0;
  width: 250px;
}

.analytics {
  margin-top: 50px;
}

.collection {
  width: 50%;
}

.collection-item {
  list-style: none;
  border-bottom: 1px solid #cecece;
  padding: 15px 0 2px 2px;
}

.content-container {
    margin-top: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 8px;
}

.errorField {
  margin-top: 10px;
}

.progress-container {
  border: 2px solid #87ad58;
  border-radius: 6px;
  width: 200px;
  height: 30px;
  overflow: hidden;
  margin-top: 5px;
}

.progress-bar {
    display: block;
    width: 200px;
    position: relative;
    height: 30px;
    border-radius: 0px;
    background: darkseagreen;
    left: -200px;
}

@media (min-width: 768px){
  .container-upload{
    width: 850px;
  }
}
