/**Took out scss, back to being imported from normal files**/

.bg-dark {
  display: none;
}

.nav-item input {
  background: none;
  border: none;
  font-size: 20px;
  color: #fff;
}

.nav-item .nav-link:nth-child(-n + 3) {
  color: white !important;
}

.upload {
  padding-top: 25px;
}

.upload-youtube {
  padding-top: 50px;
}

.upload-youtube .form-group {
  border-bottom: 1px solid #a79a9a;
}

.dropdown-menu {
  padding: 0px;
  overflow: hidden;
}

.dropdown-item {
  padding: 0.35rem 1.5rem;
}

.form-group.fileSelect {
  display: flex;
  flex-direction: column;
}

.show {
  height: 0px;
  transition: height 0.6s ease-out;
}

.video-element {
  margin: 20px 0 0 0;
  width: 250px;
}

.analytics {
  margin-top: 50px;
}

.collection {
  width: 50%;
}

.collection-item {
  list-style: none;
  border-bottom: 1px solid #cecece;
  padding: 15px 0 2px 2px;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.errorField {
  margin-top: 10px;
}

.progress-container {
  width: 200px;
  height: 25px;
  overflow: hidden;
}

.progress-bar {
  transform: translate(0%, 0px);
  position: relative;
  height: 25px;
  background: darkseagreen;
  left: -200px;
}
