/********************************************This wraps all the main content on the page***********************/
/********** Variables **********/
$grey-box-background: #f8f8f8;
/*******************************/

.renderContent-wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 4em;
  grid-template-areas:
    'butt carousel-box carousel-box carousel-box carousel-box carousel-box filters filters filters filters'
    'basic-analytics basic-analytics basic-analytics basic-analytics basic-analytics basic-analytics filters filters filters filters'
    'der der der der der der der der der der';
  height: 100vh;
  padding-top: 1em;
  background: #fff;
  h1,
  h2 {
    font-size: 1.3rem;
  }

  //Butterfly Score
  .butterfly-container {
    grid-area: butt;
    margin: 2em 0 0 2em;

    .butterfly-score {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $grey-box-background;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      margin: 0 -1em 0 0;

      h1 {
        color: rgb(107, 56, 107);
        font-size: 3.2rem;
        margin: 0.4em 0 0 0;
      }
      p {
        font-size: 0.9rem;
        margin: -0.7em 0 0 0;
      }
    }
  }

  //Originals css
  .basic-analytics-container {
    grid-area: basic-analytics;
    margin: 0 0 0 2em;
    h2 {
      font-size: 1.3rem;
    }
    p {
      font-size: 1rem;
    }
    .basic-analytics {
      display: flex;
      justify-content: space-around;
      background-color: $grey-box-background;
      border-radius: 10px;
      #chart_div {
        grid-area: chart;
      }
    }
  }

  // FILTERS CSS
  .filters-container {
    grid-area: filters;
    margin: 0 2em 0 0;
    background-color: white;

    h1 {
      font-size: 1.3rem;
    }

    .filters {
      background-color: $grey-box-background;
      border-radius: 10px;

      .original--conatiner {
        display: flex;
        justify-content: space-around;
        padding-top: 1em;
      }

      .demoplat-container {
        display: flex;
        justify-content: space-around;
        padding: 2em 5em 2em 0;
        .demographics {
          display: flex;
          flex-direction: column;
        }
        .platforms {
          .checkbox-platforms {
            display: flex;
            flex-direction: column;
            align-items: center;
            .checkbox {
              margin: 0 0 2em 0;
              .social--media {
                font-family: 'Lato', sans-serif;
                padding: 0 0 0 0.7em;
              }
            }
          }
        }
      }

      ul {
        list-style-type: none;
        i {
          margin-left: 10px;
        }
      }
    }
  }

  .carousel-box {
    grid-area: carousel-box;
    margin: 0 0 0 2em;

    .video-carousel {
      height: 10rem;

      div {
        width: 100%;
      }
    }

    img {
      width: auto;
      border-radius: 25%;
    }

    div ul li {
      text-align: center;
    }

    .y--color {
      font-size: 1.4rem;
      color: red;
    }
    .chart--color {
      font-size: 1.4rem;
      color: #2f63e3;
      cursor: pointer;
    }

    .thumbnail:hover {
      opacity: 0.8;
    }

    .youtube,
    .chart--color {
      transition: all 0.2s ease-in-out;
    }

    .youtube:hover,
    .chart--color:hover {
      transform: scale(1.25);
    }
  }

  /************************************************************************Derivative and Top Influencer Section**************************************************/
  .der--influ-container {
    grid-area: der;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 4em;
    grid-template-areas: 'der der der der der der topi topi topi topi';
    background: #fff;

    /*******************Top influencer*******/
    .influencer-container {
      grid-area: topi;
      display: flex;
      flex-direction: column;

      .influencers {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        background-color: $grey-box-background;
        border-radius: 10px;
        margin: 0 2em 3em 0;

        .item {
          margin: 0 0 1em 0;
        }
        .list--one,
        .list--two {
          display: flex;
          flex-direction: column;
          .content {
            line-height: 1.5rem;
          }
        }
      }
      h1 {
        font-size: 1.3rem;
      }
    }
    /******************Derivative*******/
    .derivative--container {
      grid-area: der;
      h1 {
        margin: 1.5em 0 0 1.5em;
      }
      img {
        // width: 80%;
        // height: 70%;
        // margin: 0 0 0 7em;
        width: 60%;
        height: 70%;
        margin: 0 0 0 13em;
      }
    }
  }
}

/************************************Media Queries**********************************************/
/* laptops */
@media screen and (max-width: 1380px) {
  .renderContent-wrapper {
    .der--influ-container {
      .influencer-container {
        margin-bottom: 0;
        .influencers {
          .list--one {
            margin: 0 0 0 1em;
          }
        }
      }
      .derivative--container {
        img {
          width: 80%;
          height: 70%;
          margin: 0 0 0 7em;
        }
      }
    }
  }
}

/* phones */
@media screen and (max-width: 800px) {
  .renderContent-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0;
    grid-template-areas:
      'butt butt'
      'carousel-box carousel-box'
      'basic-analytics basic-analytics'
      'filters filters'
      'der der';
    .basic-analytics-container {
      margin: 0 1em 1em 1em;
      .basic-analytics {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
          'chart chart'
          'traffic traffic'
          'scoring scoring';
        height: 45em;
        .traffic {
          grid-area: traffic;
          margin: 2em 0 0 0;
        }
        .scoring {
          grid-area: scoring;
          margin: 2em 0 0 0;
        }
        #chart_div,
        #chart_All,
        #chart_Single {
          grid-area: chart;
          margin: 1em 0 0 0;
        }
      }
    }

    .filters-container {
      margin: 0 1em;
    }

    .butterfly-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 2em 0;
    }
    .der--influ-container {
      grid-area: der;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      //grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        'der der'
        'topi topi';
      .influencer-container {
        margin: 0 1em 1em 1em;
        h1 {
          margin: 0 0 1em 0;
        }

        .influencers {
          margin: 0;
          .list--one {
            margin-top: 1em;
          }
          .list--two {
            margin-top: 1em;
          }
        }
      }

      .derivative--container {
        margin: 1em 0;
        img {
          width: 80%;
          height: 70%;
          margin: 0 0 0 2em;
        }
      }
    }
  }
}
